body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(14, 30, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.cell {
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.cell:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.reset-btn-container {
    margin-top: 20px;
}

.info-btn-container {
    position: absolute;
    bottom: 20px;
}