* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    min-height: 100%; /* Asegurar que el body tenga una altura mínima del 100% de la ventana gráfica */
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("intro-background.jpg"); /* Mover la imagen de fondo al body */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; /* Establecer el body como un contenedor flex */
    flex-direction: column; /* Distribuir los hijos del body en una columna */

    margin: 0;
    padding: 0;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed; /* Fijar la posición de la cabecera */
    top: 0; /* Posición 0 desde el borde superior */
    left: 0; /* Posición 0 desde el borde izquierdo */
    width: 100%; /* Asegurar que la cabecera ocupe el 100% del ancho de la ventana */
    z-index: 1000; /* Asegurar que la cabecera se muestre siempre por encima del contenido */
}
.container {
    background-color: rgb(14, 30, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.cell {
    background-color: white;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.cell:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.reset-btn-container {
    margin-top: 20px;
}

.info-btn-container {
    position: absolute;
    bottom: 20px;
}








  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold; /* Nombres en negrita */
    padding: 8px 12px; /* Agregar padding alrededor de los nombres */
    border-radius: 5px; /* Filos redondeados */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  }
  
  nav a:hover {
    color: #fff;
    background-color: #a4adb4; /* Cambiar el color de fondo al pasar el mouse */
  }





